{% load i18n %}{% autoescape off %}
Hola,

Has recibido este correo porque solicitaste restablecer la contraseña de tu cuenta en el Sistema EVA2.

Por favor, ve a la siguiente página y elige una nueva contraseña:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Tu nombre de usuario, en caso de que lo hayas olvidado: {{ user.get_username }}

Si no solicitaste este cambio, puedes ignorar este mensaje de forma segura. Tu contraseña no cambiará hasta que accedas al enlace anterior y crees una nueva.

Atentamente,
El equipo del Sistema EVA2.
{% endautoescape %}